<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-sclae=1.0">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style.css') }}">
    <title>Project D(ai)abetes</title>


</head>

<body>

    <!-- Header -->
    <div id="header-container">
        <div id="header">
            <h1>Project D(ai)abetes</h1>
            <h3>A chatbot that specializes in living with Type 1
                diabetes and associated treatment therapy. </h3>
            <p>Disclaimer: Diabetes Assistant may produce incorrect or inaccurate information. Always speak with your
            physician or endocrynologist before making any changes to your diabetes therapy. By using this application you waive
            all liability of the creator in your decisions.</p>
        </div>
    </div>

    <!-- Sidebar -->
    <div id="sidebar-container">
        <div id="sidebar">
            <!-- Link to Home, How to Use, and About pages -->
            <a href="{{ url_for('index') }}">Home</a>
            <a href="{{ url_for('how_to_use') }}">How to Use</a>
            <a href="{{ url_for('about') }}">About</a>
        </div>
    </div>

    <!--TODO: Add Toggle button for Pump Settings input-->
    <!--TODO: Add pump setting table/box    -->
    <!--TODO: Add shot/injection settings input -->
    <div class="chat-container">
        <div class="chat-header">
            Diabetes Assistant
        </div>
        <div class="chat-messages">
        </div>
        <div class="chat-input">
            <input type="text" placeholder="Type your message...">
            <button type="button">Send</button>
        </div>
    </div>

<script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>